.ficha, .emparejado{
    width: 150px;
    height: 150px;
    justify-items: center;
    border-radius: 3px;
}

.tapado{
    background-color: rgb(165, 161, 161);
    border: 1px solid black;
}

.rojo{
    background-color: red;
}

.azul{
    background-color: blue;
}

.verde{
    background-color: green;
}

.amarillo{
    background-color: yellow;
}

.violeta{
    background-color: rgb(163, 4, 163);
}

.naranja{
    background-color: orange;
}

.rosa{
    background-color: rgb(236, 72, 140);
}

.celeste{
    background-color: rgb(28, 194, 194);
}